# Build output
[Bb]in/
[Oo]bj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE folders
.vs/
.vscode/
.idea/

# Logs
*.log

# App configuration
appsettings*.json

# Test results
[Tt]est[Rr]esult*/
[Bb]enchmarkDotNet.Artifacts/

# NuGet
*.nupkg
*.snupkg
packages/

# Publish output
publish/

# OS files
.DS_Store
Thumbs.db
.gitkeep
